body {
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    padding-top: 90px;
}

.top {
    background-color: #1E1586;
    color: white;
}

.nav > li {
    padding: 20px 135px 10px 137.5px;
}

.nav > li:hover {
    background-color: white;
    color: #1E1586;
}

h2 {
    text-align: center;
    padding-top: 30px;
    font-family: 'Noto Sans TC', sans-serif;
}

.text {
    margin:40px;
    text-align: center;
}

.list {
    list-style: none;
    text-align: left;
}

.list > li {
    padding:20px;
    animation-name: fadeInUp;
    animation-duration: 2s;
} 

.team {
    background-color: #f2f2f2;
    width:1366px;
    margin-left: -120px;
    padding:20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item {
    background-color: #BDBEFF;

}

.inx >span {
    animation-name: flipInX;
    animation-duration: 3s;
}

.left {
    animation-name: fadeInRightBig;
    animation-duration: 3s;
}

#back {
    background-image:url(back.png);
    background-repeat: no-repeat;
    background-position:right;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: -30px;
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
