body {
    font-family: 'Noto Sans TC', sans-serif;
}

#gotop {
    position:fixed;
    z-index:90;
    right:30px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background:#33b5e5;
    line-height:50px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}


#gotop :hover{
    background:#0099CC;
}

#sub-footer {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0.5%;
    color:#fff;
    background-color: blue;
    margin-top: 5%;
}
